!!!
%html
  %head
    %title Soap-srv
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    .container
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          .alert.alert-dismissable{class: "#{name == 'alert' ? 'alert-danger' : 'alert-info'}"}
            %a.close{data: {dismiss: :alert}} &times;
            = msg
      = yield